<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prototipo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:label="@string/app_name">
        <activity android:exported="true"
            android:name=".pages.AccessPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.RegisterPage"
            android:exported="true" />
        <activity
            android:name=".pages.RegisterClinicPage"
            android:exported="true" />
        <activity
            android:name=".pages.RegisterAddressPage"
            android:exported="true" />
    </application>

</manifest>